/* You can add global styles to this file, and also import other style files */


.original-grid-cell > * {
    height:100%;
}


.k-grid-header .k-header {
    height: 30px;
    /* padding: 0; */
  }

  .k-grid tbody tr {
    line-height: 30px;
  }

  .k-grid tbody td {
    padding: 0;
  }