
/**************  LayoutRoot  ******************/

.LayoutRoot  {
   display: grid;
   grid-template-columns: auto;
   grid-template-rows: auto;
}
.LayoutRoot-cell-0-0  {
   grid-column: 1;
   grid-row: 1;
   position: relative;
}
.LayoutRoot-cell-0-0  {
   grid-column: 1;
   grid-row: 1;
   position: relative;
}
