<div>
   <div name='LayoutRoot' class='LayoutRoot'>
      <div style='height: 100%;width: 100%;' class='original-grid-cell'>
         <div name='PageScrollViewer'>
            <div name='ContentStackPanel' style='display: flex; flex-direction: column'>
               <span name='HeaderText' class='HeaderTextStyle'>
                  {{model.getApplicationResource('ResourceWrapper')?.ApplicationStrings?.HomePageTitle}}
               </span>
               <span name='ContentText'>
                  {{model.ContentText.Text }}
               </span>

            </div>

         </div>

      </div>

   </div>

</div>